<!-- =========================================================
     MENU FORM MODAL CONTENT
========================================================= -->

<div class="modal-form-container">


    <!-- =====================================================
         MODAL HEADER
    ====================================================== -->

    <div class="modal-form-header">

        <h2>
            {{ page_title }}
        </h2>


        <button
            type="button"
            class="modal-close-btn"
            onclick="closeMenuModal()"
        >
            ×
        </button>

    </div>



    <!-- =====================================================
         MENU FORM
    ====================================================== -->

    <form
        method="post"
        action="{{ request.path }}"
        class="menu-form"
    >

        {% csrf_token %}


        <!-- =================================================
             FORM FIELDS
        ================================================== -->

        {% for field in form %}

            <div class="form-group">


                <label
                    for="{{ field.id_for_label }}"
                >
                    {{ field.label }}
                </label>


                {{ field }}


                {% if field.errors %}

                    <div class="field-error">

                        {% for error in field.errors %}

                            {{ error }}

                        {% endfor %}

                    </div>

                {% endif %}


            </div>

        {% endfor %}



        <!-- =================================================
             FORM ACTIONS
        ================================================== -->

        <div class="form-actions">


            <button
                type="submit"
                class="save-btn"
            >
                Save
            </button>


            <button
                type="button"
                class="cancel-btn"
                onclick="closeMenuModal()"
            >
                Cancel
            </button>


        </div>


    </form>


</div>